.ui-header {
    color: #52F7C5;
    background: #f3fffb;
}

.ui-header-brand {
    color: #52F7C5;
}

.ui-header-options .btn {
    background: #52F7C5;
    border: none;
}

.ui-header-options.show .btn {
    background: rgba(0, 0, 0, 0.2);
}