.store__button {
  font-size: 1em;
}

.store__button-icon {
  font-size: 0.8em;
  margin-right: 4px;
}

.store-form__button,
.store-list__button {
  margin: 0 2px 0;
}

.store-list__button {
  display: inline-block;
  padding: 0 5px 0;
  border: 1px solid transparent;
  border-radius: 20%;
  background-color: #007bff;
  color: white;
}

.store-list__button:hover {
  color: white;
  background-color: #0069d9;
}

.store-list__button-icon {
  margin-top: -4px;
}

.store-view__button-row {
  float: right;
}

.ReactTable .rt-tbody .rt-td .store-list__button {
    background: none;
    color: #009688;
    padding: 0;
    border-radius: 0;
    width: 15px;
    height:15px;
    margin: 0 15px;
}

.ReactTable .rt-tbody .rt-td .store-list__button svg {
    width: inherit;
    height: inherit;
}